{% extends 'base.html.twig' %}

{# Nom du massage à ajouter #}
{% block title %}Réservation{% endblock %}


{% block javascripts %}
    {{parent()}}
    <script src="{{asset('js/reservation.js')}}" defer></script> 
{% endblock %} 

{% block body %}

{{ include('component/_navbar.html.twig') }}

    <div class="container mt-5">
        <div class="row">
            <div class="col-8 offset-2">
                <header>
                    {#  nav-bar #}
                    <h1>Rendez-vous de Massage à WF3-Massage</h1>
                    {# nom du massage #}
                    <h2 class="massage" data-massage-id="{{massage.id}}" data-massage-name="{{massage.name}}"
                    data-massage-price="{{massage.price}}">Massage {{massage.name}}</h2>
                </header>

                {# Choix du masseur #}
                <section class="mb-5">
                    <h3>Choisir un masseur</h3>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 mt-3">
                            {% for massagist in massagists %}
                                <div class="card">
                                    <a class='massagistLink' href='?massagist={{massagist.id}}'>
                                        <button class="btn-card ajax" data-massagist-id="{{massagist.id}}"
                                        data-massagist-name="{{massagist.name}}">
                                            <div class="card-horizontal">
                                                <div class="img-square-wrapper">
                                                    <img class="massagist-photo-profile" src="{{asset('images/'~massagist.cover)}}">
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">{{massagist.name}}</h4>
                                                    <p class="card-text">{{massagist.description}}</p>
                                                </div>
                                            </div>
                                        </button>
                                    </a>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>

                {# Calendrier #}
                <section class="calendar mb-5">
                    <h3>Choisir une date</h3>
                    {{calendar|raw}}
                </section>
                
                {# Créneaux horaires #}
                <section class="timeslots mb-5">
                    <h3>Choisir un créneau horaire</h3>

                    <!-- affichage des times slots -->
                    {% for timeSlot in timeSlots|raw %}
                        <button class="btn btn-primary mb-4 ajax timeSlot" data-timeslot="{{timeSlot}}">{{timeSlot}}</button>
                    {% endfor %}
                </section>

                {# Formulaire #}
                <section class="form mb-5">
                    <h3>Veuillez renseigner les informations suivantes</h3>
                    {{ form_start(form) }}
                        <p>{{form_label(form.lastname)}}</p>
                        <p class="ajax">{{form_widget(form.lastname)}}</p>
                        <div class="alert alert-danger errorLastName" role="alert">Nom de famille manquant ou invalide</div>

                        <p>{{form_label(form.firstname)}}</p>
                        <p class="ajax" >{{form_widget(form.firstname)}}</p>
                        <div class="alert alert-danger errorFirstName" role="alert">Prénom manquant ou invalide</div>
                        
                        <p>{{form_label(form.email)}}</p>
                        <p class="ajax" >{{form_widget(form.email)}}</p>
                        <div class="alert alert-danger errorEmail" role="alert">Email manquant ou invalide</div>

                        <p>{{form_label(form.telephone)}}</p>
                        <p class="ajax">{{form_widget(form.telephone)}}</p>
                        <div class="alert alert-danger errorPhone"role="alert">Numéro de téléphone manquant ou invalide</div>
                        
                       
                    {{ form_end(form)}} 
                    <div class="alert alert-danger errorGlobal" role="alert">Tous les champs sont obligatoires</div>
                    <div><a class="btn-design mx-5 book">Réserver</a></div>                                 
                </section>           
            </div>
        </div>
    </div>

    {{ include('component/_footer.html.twig') }}
{% endblock %}
