{% extends 'base.html.twig' %}

{# Nom du massage à ajouter #}
{% block title %}Réservation{% endblock %}


{% block javascripts %}
    {{parent()}}
    <script src="{{asset('js/reservation.js')}}" defer></script> 
{% endblock %} 

{% block body %}

{{ include('component/_navbar.html.twig') }}

    <div class="container mt-5">
        <div class="row">
            <div class="col-8 offset-2">
                <header>
                    {#  nav-bar #}
                    <h1>Rendez-vous de Massage à WF3-Massage</h1>
                    {# nom du massage #}
                    <h2 class="massage" data-massage-id="{{massage.id}}" data-massage-name="{{massage.name}}"
                    data-massage-price="{{massage.price}}">Massage {{massage.name}}</h2>
                </header>

                {# Choix du masseur #}
                <section class="mb-5">
                    <h3>Choisir un masseur</h3>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 mt-3">
                            {% for massagist in massagists %}
                                <div class="card">
                                    <button class="btn-card ajax" data-massagist-id="{{massagist.id}} "
                                    data-massagist-name="{{massagist.name}}">
                                        <div class="card-horizontal">
                                            <div class="img-square-wrapper">
                                                <img class="massagist-photo-profile" src="{{asset('images/'~massagist.cover)}}">
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">{{massagist.name}}</h4>
                                                <p class="card-text">{{massagist.description}}</p>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>

                {# Calendrier #}
                <section class="calendar mb-5">
                    <h3>Choisir une date</h3>
                    {{calendar|raw}}
                </section>
                
                {# Créneaux horaires #}
                <section class="timeslots mb-5">
                    <h3>Choisir un créneau horaire</h3>

                    {# <h1 class="text-center">Book for Date: <?= date('Y/m/d', strtotime($date)) ?></h1> #}
                    {# <?= isset($msg) ? $msg : "" ?> #}

                    <!-- affichage des times slots -->
                    {% for timeSlot in timeSlots|raw %}
                        <button class="btn btn-primary mb-4 ajax timeSlot" data-timeslot="{{timeSlot}}">{{timeSlot}}</button>
                    {% endfor %}
                </section>

                {# Formulaire #}
                <section class="form mb-5">
                    <h3>Veuillez renseigner les informations suivantes</h3>
                    {{ form_start(form) }}
                        <p>{{form_label(form.lastname)}}</p>
                        <p class="ajax">{{form_widget(form.lastname)}}</p>
                        <p>{{form_errors(form.lastname)}}</p>

                        <p>{{form_label(form.firstname)}}</p>
                        <p class="ajax" >{{form_widget(form.firstname)}}</p>
                        <p>{{form_errors(form.firstname)}}</p>
                        
                        <p>{{form_label(form.email)}}</p>
                        <p class="ajax" >{{form_widget(form.email)}}</p>
                        <p>{{form_errors(form.email)}}</p>

                        <p>{{form_label(form.telephone)}}</p>
                        <p class="ajax">{{form_widget(form.telephone)}}</p>
                        <p>{{form_errors(form.telephone)}}</p>
                        
                        <button class="btn btn-primary mt-3 next ajax " type="button">Suivant</button>

                        {# Récapitulatif #}
                        <section class="summary">
                            <h3 class="mb-3">Résumé</h3>
                            <p class="summary-massage">Massage: </p>
                            <p class="summary-massagist">Masseur: </p>
                            <p class="summary-date">Date et horaire: </p>
                            <p class="summary-price">Prix: </p>
                            <button type="button" class="btn btn-primary mt-3 book">Réserver</a></button>

                        </section>
                    {{ form_end(form)}}
                </section>
            </div>
        </div>





    </div>

    {{ include('component/_footer.html.twig') }}
{% endblock %}
